<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tracked Allocations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Use a local copy of bootstrap css instead of downloading from a CDN -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        {% for column_name in columns %}
          <th>{{column_name}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for row in event_rows %}
        <tr>
          {% for column_name in columns %}
            <td class="text-nowrap">{{row[column_name]}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
